/* $Id$ */

#dbthrobber.working {
  padding: 0 1.5em 0 0;
  background-image: url(/misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% -1em;
  color: green;
}

#dbthrobber.completed {
  color: green;
}

#dbthrobber.message,
#lookup-message.message {
  color: red;
}
